 p     { text-align: justify; text-justify: inter-word; }
 li    { text-align: justify; text-justify: inter-word; }

 table { border-collapse: collapse; empty-cells: show; }

 table.staff      tr     {
   height : 3em;
 }
 table.staff      tr.gap {
   height : 1em;
 }
 table.material   tr     {
   height : 3em;
 }
 table.material   tr.gap {
   height : 1em;
 }
 table.assessment tr     {
   height : 3em;
 }
 table.assessment tr.gap {
   height : 1em;
 }

 td.gap        {  
                                                                                              
 }
 td.blank      { 
   border: 1px solid black; vertical-align: center; horizontal-align: center; text-align: center; background: #f1f1f1; 
 }
 td.lec-1      { 
   border: 1px solid black; vertical-align: center; horizontal-align: center; text-align: center; background: #ccffff; 
 }
 td.lec-2      { 
   border: 1px solid black; vertical-align: center; horizontal-align: center; text-align: center; background: #ccffcc; 
 }
 td.lec-3      { 
   border: 1px solid black; vertical-align: center; horizontal-align: center; text-align: center; background: #ffcccc; 
 }
 td.lab        { 
   border: 1px solid black; vertical-align: center; horizontal-align: center; text-align: center; background: #ffffcc; 
 }
 td.assessment { 
   border: 1px solid black; vertical-align: center; horizontal-align: center; text-align: center; background: #ffffcc; 
 }

 .vertical-text-outer {
   writing-mode: tb-rl;
   width: 5em;
   padding: 0.5em;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .vertical-text-inner {
   transform: rotate(180deg);
   text-align: center;
 }

 .extra       { 
   border: 1px solid black; vertical-align: center; horizontal-align: center; text-align: center; background: #f1f1f1; opacity: 0.25; transition: opacity .25s ease-in-out;

           transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
 }
 .extra:hover {
   opacity: 1.00;
 }
